/* website essentials */

header {
    background-color: whitesmoke;
    text-align: center;
    color: black;
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 1em;
}

nav {
    background-color: whitesmoke;
    text-align: center;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    margin: 0 10px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    line-height: 1.6; 
}

main {
    display: flex;
    flex: 1;
}

footer {
    background-color: white;
    color: black;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.search-bar {
    padding: 10px;
    background-color: transparent;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.search-bar input {
    border-radius: 50px;
    padding: 0.7em;
    width: 40%;
    height: auto;
}


@media screen and (max-width: 768px) {
    .search-bar input {
        width: 80%; 
    }
    
    #side-bar {
        width: 100%; 
    }

    .content {
        width: 100%; 
    }

    nav ul {
        flex-direction: column; 
    }

    .image-item img {
        width: 120px; 
    }
}

.logo{
    display: flex;
    justify-content: left;  
}

.logo img {
    width: 40px;
    height: 40px;
}

.nav-link {
    text-decoration: none;
    color: black;
    position: relative;
    display: flex;
    justify-content: center;
    margin: 10px; 
}

.nav-image {
    width: 300px; 
    height: auto;
}

/* producten */

.home-information {
    font-weight: 500;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    background-color: #FFFFFF; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.allround-image-container, .distance-image-container, .sprint-image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.image-item {
    text-align: center;
    margin: 10px;
}

.image-item img {
    width: 150px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.image-item p {
    margin-top: 5px;
    font-size: 14px;
    color: #333;
    box-shadow: 0 0 10px rgba(70, 48, 48, 0.1);
}

.allround-image-container img, .sprint-image-container img, .distance-image-container img {
    width: 150px;
    height: auto;
    padding: 4em;
    background-color: #F5F5F5; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.price-tags {
    display: flex;
    justify-content: center;
}

#distance1, #distance2 {
    animation: animate__backInDown 0.5s;
}

#side-bar {
    background-color: whitesmoke; 
    color: black;
    padding: 40px;
    box-sizing: border-box;
    width: 20%;
}

.content {
    width: 80%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #FFFFFF; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.model-img {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    background-color: #F5F5F5;
    border-radius: 8px;
    padding: 1rem;
    transition: transform 0.3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* sections */

.sectionn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden; 
}

section h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-align: center; 
    word-wrap: break-word; 
}

section label {
    font-size: 1rem;
    margin-bottom: 5px;
    display: inline-block;
    text-align: center;
}

/* bestelformulier */

body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.orange {
    color: #f60;
}

.container {
    display: flex;
    justify-content: center;
}

form {
    margin: 10px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.title {
    font-family: "AvenirBlack", Arial, Helvetica, Verdana, sans-serif;
    color: #285dab;
    font-weight: 800;
    font-size: 1.2em;
    margin: 0;
}

.subtitle {
    color: #0090e3;
    font-weight: 400;
    font-family: "DobraSlabBook", Georgia, "Times New Roman", Times, "Droid Serif", serif;
    font-size: 1.2em;
    margin: 0;
}

tr {
    height: 100%;
}

td {
    padding: 5px 10px;
    vertical-align: middle;
}

.name {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 95%;
    margin-top: 7.5px;
    text-align: end;
}

.name button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    background-color: #f0f0f0;
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.name button i {
    color: #fff;
    font-size: 10px;
}

.inputsCell {
    text-align: left;
    width: 70%;
}

.inputsCell input {
    height: 20px;
    border: 1px solid #ccc;
    padding: 5px;
}

.inputsCell input[type=color] {
    padding: 2px;
    height: 25px;
    width: 220px;
    margin-top: 5px;
}

.inputsCell input[type=radio] {
    display: none;
}

.inputsCell input[name=middlename] {
    width: 70px;
}

.inputsCell input[name=postcode] {
    width: 100px;
}

.inputsCell input[name=housenumber],
.inputsCell input[name=housenumberadd] {
    width: 50px;
}

.inputsCell input[name=email] {
    width: 300px;
}

.inputsCell input[name=newsletter] {
    margin: 0;
    width: 20px;
    height: 12px;
}

.inputsCell input[type=date] {
    color: #b0b0b0;
}

.inputsCell a {
    text-decoration: none;
    color: #f0f0f0;
}

.inputsCell a i {
    font-weight: 700;
}

.inputsCell label {
    font-family: Arial, Helvetica, sans-serif;
}

.inputs {
    display: flex;
    justify-content: start;
    gap: 10px;
}

.inputs label {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    position: relative;
    font-size: 16px;
}

.checkmark {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #eee;
    border: 2px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
}

.inputs label:hover .checkmark {
    background-color: #ddd;
}

.checkmark::after {
    content: "";
    width: 7.5px;
    height: 7.5px;
    border-radius: 50%;
    background-color: #000;
    display: none;
}

 .inputs input[type=radio]:checked+.checkmark::after {
    display: block;
}

.description {
    color: #727272;
}

.subitBar {
    display: flex;
    justify-content: end;
    height: 45px;
    border: 1.2px solid #ccc;
    background-color: #e6e6e6;
    margin-top: 20px;
}

.subitBar button {
    background-color: #00b900;
    border: none;
    border-radius: 5px;
    color: #fff;
    margin: 2.5px;
    padding: 10px 30px;
}
.right .title {
    margin: 0;
    font-size: 1.5em;
}

.right .description {
    margin: 0;
}